@page "/impressum"

<PageTitle>Impressum - Blazor Cookbook</PageTitle>

<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <h1>Impressum</h1>
            
            <h2>Angaben gemäß § 5 TMG</h2>
            <p>
                Peter Stackebrandt<br>
                Weißensee 27<br>
                90537 Feucht
            </p>

            <h2>Kontakt</h2>
            <p>
                E-Mail: <a href="mailto:info.stackebrandt@gmail.com">info.stackebrandt@gmail.com</a>
            </p>

            <h2>Redaktionell verantwortlich</h2>
            <p>Peter Stackebrandt</p>

            <div class="mt-4">
                <p><small class="text-muted">Quelle: e-recht24.de</small></p>
            </div>

            <div class="mt-4 pt-3 border-top">
                <p><small class="text-muted">
                    <a href="/impress" class="text-decoration-none">🇺🇸 English version</a>
                </small></p>
            </div>
        </div>
    </div>
</div> 