@using BlazorCookbookApp.Services
@inject IVersionService VersionService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor Cookbook</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recipes">
                <span class="bi bi-book-fill-nav-menu" aria-hidden="true"></span> Browse Recipes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resources">
                <span class="bi bi-collection-nav-menu" aria-hidden="true"></span> Resources
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="learning-journey">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Learning Journey
            </NavLink>
        </div>

        <!-- Separator line -->
        <div class="nav-separator"></div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="impress">
                <span class="bi bi-info-circle-fill-nav-menu" aria-hidden="true"></span> Legal Notice
            </NavLink>
        </div>
    </nav>
    
    <!-- Version Footer -->
    <div class="version-footer px-3 py-2 mt-auto">
        <small>@VersionService.GetVersion()</small>
    </div>
</div>

